
.tea {
    	background-color:#A0522D;
   	height:50vh;
    	display: block;
    	margin: auto;
    	width: 50vw;
	   
}
body {
	font-family:Dancing Script;
	font-size:30px;
	background-color:#FCFBE3;

}

.bottom,.top {
	display:flex;
	text-align:center;
}
.zen {
	height: 100px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	color:black;
        background-color:blue; 
	width:30vw;
}
.word {
	height: 100px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	color:black;
        background-color:blue;
	width:30vw;
}

.yellow {
	left:5%;
	position:relative;
	background-color:#B57EDC; 
}
.red {
	left:35%;
	position:relative;
	background-color:#a4482c;
}
.blue {
	left:55%;
	position:relative;
	background-color:#0ea683;
}
