.bottom,.top {
display:flex;
text-align:center;
}
.zen {
	width: 42vh;
	height: 100px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
		font-size:40px;
		color:black;
		font-family:Dancing Script;
        background-color:blue;      
}
.word {
	width: 42vh;
	height: 100px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
		font-size:40px;
		color:black;
		font-family:Dancing Script;
        background-color:blue;
      
        
}

.yellow {
left:5%;
position:relative;
}
.red {
left:45%;
position:relative;
}
.blue {
left:95%;
position:relative;
}
.image {
	background-color:black;
	height:500px;
    display: block;
    margin: auto;
    width: 350px;
}
